numpy
opencv-python
matplotlib
scikit-image
tqdm
rasterio
gdal
affine
geopandas
timm
h5py
pillow
streamlit
fastapi
uvicorn
segmentation-models-pytorch
ultralytics
rich
pandas
tensorflow-macos
tensorflow-metal