*{
    margin: 0;
    padding: 0;
    
}

li,h1,ul {
    display: inline;
    font-family: 'Poppins', sans-serif;
}

ul{
text-align: center;
    
}

li {
    list-style: none;
    margin-right: 20px;
    color: grey;
    cursor: pointer;
}

li:hover {
    color: white;
 
}